<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clxs.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.clxs.pojo.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="minipicture" jdbcType="VARCHAR" property="minipicture" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="article" jdbcType="VARCHAR" property="article" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, name, status, create_at, create_by, update_at, update_by, introduce, 
    minipicture, video_url, picture, article
  </sql>
  <select id="selectProduct" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from product
    <choose>
      <when test="id != null">
        where id=#{id,jdbcType=INTEGER}
      </when>
      <when test="parentId != null">
      where parent_id=#{parentId,jdbcType=INTEGER}
      </when>
      <when test="name != null">
        where name = #{name,jdbcType=VARCHAR}
      </when>
      <when test="status != null">
        where status =#{status,jdbcType=BIT}
      </when>
      <otherwise>
        where 1=1
      </otherwise>
    </choose>
  </select>
  <select id="getProduct" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from product
    <choose>
      <when test="id != null">
        where id=#{id,jdbcType=INTEGER}
      </when>
      <when test="parentId != null">
        where parent_id=#{parentId,jdbcType=INTEGER}
      </when>
      <when test="name != null">
        where name = #{name,jdbcType=VARCHAR}
      </when>
      <when test="status != null">
        where status =#{status,jdbcType=BIT}
      </when>
      <otherwise>
        where 1=1
      </otherwise>
    </choose>
  </select>
  <select id="selectByProducts"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product where
    <if test="status != null">
     status=#{status}
    </if>
    <if test="list != null">
    and parent_id in
    <foreach collection="list" item="ids" open="(" close=")" separator=",">
      #{ids}
    </foreach>
    </if>
  </select>
  <select id="selectSelective" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product where
    <trim prefix="(" suffix=")" prefixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="parentId != null">
        and parent_id = #{parentId,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=BIT}
      </if>
      <if test="createAt != null">
        and create_at = #{createAt,jdbcType=BIGINT}
      </if>
      <if test="createBy != null">
        and cteate_by = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="updateAt != null">
        and update_at = #{updateAt,jdbcType=BIGINT}
      </if>
      <if test="updateBy != null">
        and update_by = #{updateBy,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.clxs.pojo.Product">
    insert into product (id, parent_id, name, 
      status, create_at, create_by, 
      update_at, update_by, introduce, 
      minipicture, video_url, picture, 
      article)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{createAt,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, 
      #{updateAt,jdbcType=BIGINT}, #{updateBy,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
      #{minipicture,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{article,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clxs.pojo.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="minipicture != null">
        minipicture,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="article != null">
        article,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="minipicture != null">
        #{minipicture,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="article != null">
        #{article,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clxs.pojo.Product">
    update product
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="minipicture != null">
        minipicture = #{minipicture,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="article != null">
        article = #{article,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clxs.pojo.Product">
    update product
    set parent_id = #{parentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      create_at = #{createAt,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      minipicture = #{minipicture,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      article = #{article,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="select" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from product where 1=1
      <if test="id != null">
      and id=#{id,jdbcType=INTEGER}
      </if>
      <if test="parentId != null">
        and parent_id=#{parentId,jdbcType=INTEGER}
      </if>
      <if test="name != null || name != ''">
      <!--<bind name="Name" value="'%'+ name + '%'"/>-->
        <!--and name like #{Name}-->
        and name LIKE CONCAT(CONCAT('%',#{name}),'%')
      </if>
      <if test="status != null || status != ''">
        and status = #{status,jdbcType=BIT}
      </if>
  </select>
  <select id="select1" resultType="com.clxs.pojo.Product">
    select <include refid="Base_Column_List"/>
    from product
  </select>
</mapper>